
@{
    ViewBag.Title = "Error";
}
<br /><br /><br /><br />

<h2>Sorry You are not allowed to do that</h2>

<p>It seems you have encountered a problem. Try Uploading more files to get more points.</p>

