@*<html>
<head>
    <title> Lunar Software </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Lunar Software <span>by Anthony Rhodes</span></a></div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="Contact.html">Contact</a></li>
            
        </ul>
    </nav>*@

    <!-- One -->

    @ViewBag.EmailMsg
    <header class="align-center"> <br /> <br /><br /><br /> <br /><br />
        <h2>Contact Me</h2>
    </header>
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img src="~/Images/maxresdefault.jpg" />
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Space File Saver</h2>
                        <p>Saving your files from wherever you are in the world.</p>
                    </header>
                    <hr />
                    <p> Space File Saver was created by me for one reason and one reason only, to save all of your files so you will not lose them. Have you ever looked at all the apps you bought or created, and thought some how lost them because you didnt have a good place to save them, or your device broke, or the memory device malfunctioned?  Well look no further, this is the site for you.</p>
                    <p>Feel free to contact me directly by clicking on this link "<a href="https://plus.google.com/u/0/118412472690596232982">Anthony Rhodes</a>". that also happens to be my name. It takes you straight to my Google+ Account. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">

            <header class="align-center">
                <h2>Welcome to the Future of File Saving</h2>
                <p>Space File Saver is a file saving site website where you can save your software and files for later usage so it can be downloaded on another device. Trust that we will do our best to keep all your information safe and protect you from people sending virus via app and file saving.</p>
            </header>

        </div>
    </section>

    <!-- Footer -->
   
    
    <!-- Scripts -->
    @*<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>*@